<html>
   <head>
      <title>Angular JS Includes</title>
      
      <style>
         table, th , td {
            border: 1px solid grey;
            border-collapse: collapse;
            padding: 5px;
         }
         
         table tr:nth-child(odd) {
            background-color: #f2f2f2;
         }
         
         table tr:nth-child(even) {
            background-color: #ffffff;
         }
      </style>
      
   </head>
   <body>
      <h2>AngularJS Sample Application</h2>
      <div ng-app = "" ng-controller = "studentController">
      <button ng-click="callService()">
      Load
      </button>
      {{ links}}
      <table class="table table-bordered table-hover table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>File Name</th>
                                                    <th>Size</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat=" file in links">
                                                    <td>1</td>
                                                    <td>Log 1</td>
                                                    <td>10 kb</td>
                                                    <td><a href="{file}">view</a></td>
                                                </tr>
                                               
                                            </tbody>
                                        </table>
      </div>
      
      <script>
         function studentController($scope,$http) {
            $scope.url = "http://localhost:8080/BackPack/services/rservice/accountservice/backpack/logs";
         	$scope.links = [];
         	$scope.callService = function(){
            	$http.get($scope.url).success( function(response) {
               		$scope.links = response;
            	});
         		
         	};
         }
      </script>
      
      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
      
   </body>
</html>